#/////////////////////////////////////////////////////////////////////////////
# Fireball Projects
#/////////////////////////////////////////////////////////////////////////////

/library/
/temp/
/local/
/build/

#///////////////////////

git config core.ignorecase false



#///// vs编辑器
/.vs